[Unit]
Description=Kopia server service
After=network.target

[Service]
User=root
Type=simple
Restart=always
ExecStart=kopia server start --tls-cert-file /root/kopia.cert --tls-key-file /root/kopia.key --address "0.0.0.0:{{ kopia_port }}" --server-control-username {{ kopia_control_username }} --server-control-password {{ kopia_control_password }}

[Install]
WantedBy=multi-user.target
